

<h1>
    {{title}} {{#if user}} {{this.user.username}} {{/if}}
</h1>

<form method="POST" enctype="multipart/form-data">
    {{! Input names have to match the name of the fields in the mongo schema object }}
    {{! Mapping is not automatic, but it's best practices \

    OLD ID: name, dueDate, course


    <fieldset>
      <label for="name" class="col-2">
        Object Name *:
      </label>
      <input name="name" id="name" required />

    </fieldset>
    <fieldset>
      <label for="dueDate" class="col-2">
          Object Description *:
      </label>
      <input name="dueDate" id="dueDate" required type="date" />
    </fieldset>



    }}

    <fieldset>
        <label for="objectName" class="col-2">
            Object Name *:
        </label>
        <input name="objectName" id="objectName" required type="text" value="{{recycling.objectName}}"/>
{{this.objectName}}
    </fieldset>
    <fieldset>
        <label for="objectDescription" class="col-2">
            Object Description *:
        </label>
        <textarea rows="3" cols="40" name="objectDescription" id="objectDescription" required type="text">{{recycling.objectDescription}}</textarea>
    </fieldset>

    <fieldset>
        <label for="objectEcoScore" class="col-2">
            Object EcoScore *:
        </label>
        <input name="objectEcoScore" id="objectEcoScore" required type="text" value="{{recycling.objectEcoScore}}">
    </fieldset>


    <fieldset>
        <label for="objectDisposalMethod" class="col-2">
            Disposal Method:
        </label>
        <select name="objectDisposalMethod" id="objectDisposalMethod">
            {{#each courses}}
                <option>{{this.name}}</option>
            {{/each}}
        </select>
    </fieldset>

    <fieldset>
        <label for="objectLong" class="col-2">
            Object Longitude *:
        </label>
        <input name="objectLong" id="objectLong" required type="number" value="{{recycling.objectLong}}"/>
    </fieldset>

    <fieldset>
        <label for="objectLat" class="col-2">
            Object Latitude *:
        </label>
        <input name="objectLat" id="objectLat" required type="number" value="{{recycling.objectLat}}"/>
    </fieldset>

    <fieldset>
        <label for="profile_id" class="col-2">
            Profile ID:
        </label>
        <select name="profile_id" id="profile_id">
            {{#if user}}

                <option>{{this.user.username}}</option>
            {{/if}}
        </select>
    </fieldset>

    <div class="custom-file mb-3">
        <input type="file" name="file" id="file" class="custom-file-input">
        <label for="file" class="custom-file-label">Choose File</label>
    </div>
    <input type="submit" value="submit" class="btn btn-primary btn-block">

    <hr>
    {{! No need to specify Status since it has a default value }}
    {{! Button needs to be inside <form> element to trigger POST }}
    <button class="offset-3 btn btn-primary">
        Save
    </button>
</form>